<nav>
        <div class="site-title">
            <a href="/"><h1>Blogify</h1></a>
            <p>A Blog site</p>
        </div>
        <ul>
            <li><a href="/">My Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New blog</a></li>
        </ul>
</nav>